ROUTE53_HOSTEDZONE=example.com
ROUTE53_SITENAME=site.example.com

WP_ENV=production
WP_HOME=https://site.example.com
WP_SITEURL=https://site.example.com/wp

DB_USER=admin

# Generate your keys with 'openssl rand --base64 48'
AUTH_KEY="replace me..."
SECURE_AUTH_KEY="replace me..."
LOGGED_IN_KEY="replace me..."
NONCE_KEY="replace me..."
AUTH_SALT="replace me..."
SECURE_AUTH_SALT="replace me..."
LOGGED_IN_SALT="replace me..."
NONCE_SALT="replace me..."

# Generate Memcached Cache Key Salt with 'openssl rand --base64 48'
WP_CACHE_KEY_SALT='replace me...'

READINESS_CHECK_PATH=/status.php
RUST_LOG=info
